ul.errorlist {display: none}


/* .note {
    color: red;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(240, 233, 233);
}

a {
    color: #2213ff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #7fecd3;
    text-decoration: none;
}

h1 {
    color: red;
}

h2 {
    color: green;
}

h3 {
    color: brown;
} */

